<%- include('../includes/header.ejs') %>

<div class="container text-center mt-5">
    <a href="/tasks/create" class="btn btn-primary float-start mb-5">Back</a>
    <h3 class="mt-5">Update Task</h3>
    <form action="/update/<%= taskData._id %>" method="POST" >
        <input type="text" id="task-input" name="task_name" class="form-control mb-2" value="<%= taskData.task_name %>">
        <button id="add-task-btn" type="submit" class="btn btn-primary">Update Task</button>
    </form>

</div>

<%- include('../includes/footer.ejs') %>